/* MAIN AUTH AREA */
.auth-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  overflow: hidden;
  background: #ffffff;
}

/* WRAPPER */
.auth-container {
  position: relative;
  width: 350px;
  height: 400px;
}

/* COMMON FORM BOX STYLING */
.form-box {
  position: absolute;
  top: 0;
  width: 100%;
  background: #e6e6e6;
  border-radius: 20px;
  padding: 30px;
  text-align: center;
  transition: all 0.6s ease-in-out;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateX(100%);
  pointer-events: none;
}

.auth-container.show-login .login-box {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}

.auth-container.show-register .register-box {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}

.auth-container.show-register .login-box {
  transform: translateX(-100%);
}

/* FORM ELEMENTS */
.form-box h2 {
  font-weight: bold;
  color: #141212dd;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #d32f2f;
  margin: 10px 0 25px;
}

.form-box input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 15px;
}

.login-btn {
  width: 90%;
  background-color: #0d4c52;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  margin-top: 15px;
}

.login-btn:hover {
  opacity: 0.9;
}

/* SWITCH TEXT */
.register-text {
  font-size: 14px;
  margin-top: 15px;
  color: #333;
}

.register-text span {
  color: #0077cc;
  cursor: pointer;
}

/* FOOTER */
footer {
  background: #d32f2f;
  color: white;
  padding: 15px 30px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links {
  display: flex;
  gap: 20px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.social-icons {
  display: flex;
  gap: 25px;
}

.social-icons img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.copyright {
  text-align: center;
  font-size: 13px;
  margin-top: 10px;
}
