/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #d32f2f;
  padding: 15px 20px;
  color: white;
}


/* FULL PAGE */
.auth-page {
  display: flex;
  justify-content: flex-start;
  padding-left: 50px;
  padding-top: 40px;
  height: 100vh;
  background: white;
  font-family: "Inter", sans-serif;
}

/* CONTAINER */
.auth-box {
  width: 340px;
  height: 430px;
  background: #e6e6e6;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
}

/* SLIDER AREA */
.form-slider {
  display: flex;
  width: 200%;
  height: 100%;
  transition: transform 0.4s ease-in-out;
}

/* WHEN LOGIN IS ACTIVE */
.show-login {
  transform: translateX(0%);
}

/* WHEN SIGNUP IS ACTIVE */
.show-signup {
  transform: translateX(-50%);
}

/* BOTH FORMS */
.form {
  width: 50%;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.form h2 {
  text-align: center;
  font-weight: 700;
  margin-bottom: 5px;
}

.underline {
  width: 100%;
  height: 2px;
  background: #df2f2f;
  margin-bottom: 20px;
}

/* INPUT */
.form input {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 15px;
  background: white;
  border: none;
  border-radius: 3px;
}

/* BUTTON */
.auth-btn {
  background: #0d4c52;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  font-weight: 600;
}

.auth-btn:hover {
  opacity: 0.9;
}

/* SWITCH TEXT */
.switch-text {
  text-align: center;
  margin-top: 12px;
  font-size: 14px;
}

.switch-text span {
  color: #0077cc;
  cursor: pointer;
  margin-left: 5px;
}
