.orders-page {
  max-width: 800px;
}

.orders-title {
  font-weight: 700;
  color: var(--header-bg);
  text-align: center;
  margin-bottom: 30px;
}

.order-card {
  background: var(--card-bg);
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--shadow);
  margin-bottom: 25px;
}

.order-items {
  margin-top: 15px;
}

.order-item {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
  align-items: center;
}

.order-item img {
  width: 70px;
  height: 90px;
  border-radius: 6px;
  object-fit: cover;
}

.item-title {
  font-weight: 600;
  color: var(--text);
}

.status-badge {
  background: orange;
  padding: 4px 10px;
  border-radius: 6px;
  font-weight: 600;
  color: white;
}
